/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.flow p {
  font-weight: 300; }
  @media only screen and (min-width: 360px) {
    .flow p {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 390px) {
    .flow p {
      font-size: 1.224rem; } }
  @media only screen and (min-width: 420px) {
    .flow p {
      font-size: 1.248rem; } }
  @media only screen and (min-width: 450px) {
    .flow p {
      font-size: 1.272rem; } }
  @media only screen and (min-width: 480px) {
    .flow p {
      font-size: 1.296rem; } }
  @media only screen and (min-width: 510px) {
    .flow p {
      font-size: 1.32rem; } }
  @media only screen and (min-width: 540px) {
    .flow p {
      font-size: 1.344rem; } }
  @media only screen and (min-width: 570px) {
    .flow p {
      font-size: 1.368rem; } }
  @media only screen and (min-width: 600px) {
    .flow p {
      font-size: 1.392rem; } }
  @media only screen and (min-width: 630px) {
    .flow p {
      font-size: 1.416rem; } }
  @media only screen and (min-width: 660px) {
    .flow p {
      font-size: 1.44rem; } }
  @media only screen and (min-width: 690px) {
    .flow p {
      font-size: 1.464rem; } }
  @media only screen and (min-width: 720px) {
    .flow p {
      font-size: 1.488rem; } }
  @media only screen and (min-width: 750px) {
    .flow p {
      font-size: 1.512rem; } }
  @media only screen and (min-width: 780px) {
    .flow p {
      font-size: 1.536rem; } }
  @media only screen and (min-width: 810px) {
    .flow p {
      font-size: 1.56rem; } }
  @media only screen and (min-width: 840px) {
    .flow p {
      font-size: 1.584rem; } }
  @media only screen and (min-width: 870px) {
    .flow p {
      font-size: 1.608rem; } }
  @media only screen and (min-width: 900px) {
    .flow p {
      font-size: 1.632rem; } }
  @media only screen and (min-width: 930px) {
    .flow p {
      font-size: 1.656rem; } }
  @media only screen and (min-width: 960px) {
    .flow p {
      font-size: 1.68rem; } }
  @media only screen and (max-width: 360px) {
    .flow p {
      font-size: 1.2rem; } }
