
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">verdverm</h5>
          <p class="grey-text text-lighten-4">Currently finishing my dissertation in computer science and looking to start down an interesting and rewarding career path.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/projects/">Projects</a></li>
            <li><a class="white-text" href="/notebooks/">Notebooks</a></li>
            <li><a class="white-text" href="/blog/">Blog</a></li>
            <li><a class="white-text" href="/aboutme/">About Me</a></li>
            <li><a class="white-text" href="https://www.youtube.com/watch?v=TkVHdUkMJdk">they call me Dr. Worm</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="/">Website</a></li>
            <li><a class="white-text" href="https://github.com/verdverm">GitHub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/pub/tony-worm/36/933/542">LinkedIn</a></li>
            <li><a class="white-text" href="mailto:verdverm@gmail.com">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; 2015 <span class="orange-text text-lighten-3">Tony Worm</span>
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>