  <nav class="blue" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">verdverm</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/aboutme/">About Me</a></li>
     </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/aboutme/">About Me</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
