---
layout: default
title: About Me
---


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <div class="row">
        <div class="col s12 offset-m1 m10">

          <div class="card">
            <div class="card-image">

              <div class="slider slider-large hide-on-med-and-down">
                <ul class="slides">
                  <li> <img src="/images/tony-0.jpg"> </li>
                  <li> <img src="/images/tony-1.jpg"> </li>
                  <li> <img src="/images/tony-2.jpg"> </li>
                  <li> <img src="/images/tony-3.jpg"> </li>
                  <li> <img src="/images/tony-4.jpg"> </li>
                  <li> <img src="/images/tony-5.jpg"> </li>
                  <li> <img src="/images/tony-6.jpg"> </li>
                </ul>
              </div>

              <div class="slider slider-medium hide-on-large-only hide-on-small-only">
                <ul class="slides">
                  <li> <img src="/images/tony-0.jpg"> </li>
                  <li> <img src="/images/tony-1.jpg"> </li>
                  <li> <img src="/images/tony-2.jpg"> </li>
                  <li> <img src="/images/tony-3.jpg"> </li>
                  <li> <img src="/images/tony-4.jpg"> </li>
                  <li> <img src="/images/tony-5.jpg"> </li>
                  <li> <img src="/images/tony-6.jpg"> </li>
                </ul>
              </div>

              <div class="slider slider-small hide-on-med-and-up">
                <ul class="slides">
                  <li> <img src="/images/tony-0.jpg"> </li>
                  <li> <img src="/images/tony-1.jpg"> </li>
                  <li> <img src="/images/tony-2.jpg"> </li>
                  <li> <img src="/images/tony-3.jpg"> </li>
                  <li> <img src="/images/tony-4.jpg"> </li>
                  <li> <img src="/images/tony-5.jpg"> </li>
                  <li> <img src="/images/tony-6.jpg"> </li>
                </ul>
              </div>
            </div>
            <div class="card-content">
              <span class="card-title orange-text">About Me </span>
              <i> My name is Tony Worm.</i><br>
              <span>I am currently seeking exciting career opportunities while completing dissertation writing.</span>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">


      <div class="row">
        <div class="col s12 offset-m1 m10">

          <div class="card">
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Education </span> 
              <span><i>Lifelong learning.</i><span>
              <br><br>

              {% for degree in site.data.degrees %}

                <span><b>{{degree.name}}</b></span>
                <p class="hide-on-med-and-up">{{degree.date}}</p>
                <span class="hide-on-small-only right">{{degree.date}}</span>
                <br class="hide-on-small-only">
                <span>{{degree.place}}</span>
                <p class="hide-on-med-and-up">{{degree.grade}}</p>
                <span class="hide-on-small-only right">{{degree.grade}}</span>
                <br>
                <br class="hide-on-small-only">
                
              {% endfor %}

            </div>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col s12 offset-m1 m10">

          <div class="card">
            <div class="card-content">


              <span class="card-title grey-text text-darken-4">Employment </span> 
              <span><i>Seeking career opportunities.</i><span>
              <br><br>

              {% for job in site.data.employment %}
              
                <span><b>{{job.name}}</b></span>
                <p class="hide-on-med-and-up">{{job.date}}</p>
                <span class="hide-on-small-only right">{{job.date}}</span>
                <br class="hide-on-small-only">
                <span>{{job.person}}</span>
                <p class="hide-on-med-and-up">{{job.place}}</p>
                <span class="hide-on-small-only right">{{job.place}}</span>
                {% if job.description %}
                  <br class="hide-on-small-only">
                  <span><i>{{job.description}}</i></span>
                  <br class="hide-on-med-and-up">
                {% endif %}
                {% for item in job.subitems %}
                  <span><i>{{item.name}}</i></span>
                  <p class="hide-on-med-and-up"> &nbsp; {{item.date}}</p>
                  <span class="hide-on-small-only right">{{item.date}}</span>
                  <br class="hide-on-small-only">
                {% endfor %}

                <br class="hide-on-small-only">
                <br>
                
              {% endfor %}

            </div>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col s12 offset-m1 m10">

          <div class="card">
            <div class="card-content">

              <span class="card-title grey-text text-darken-4">Publications </span> 
              <br><br>

              {% for pub in site.data.publications %}
                <span><b>{{pub.name}}</b></span><br>
                <span>{{pub.conference}}</span>
                <br class="hide-on-med-and-up">
                <span class="hide-on-med-and-up">{{pub.authors}}</span>
                <span class="hide-on-small-only right">{{pub.authors}}</span>
                <br><br>
              {% endfor %}

            </div>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col s12 offset-m1 m10">

          <div class="card">
            <div class="card-content">

              <span class="card-title grey-text text-darken-4">Activities </span> 
              <br><br>

              {% for item in site.data.activities %}
                <span><b>{{item.name}}</b></span>
                <span class="right">{{item.date}}</span>
                <br>
                <span><i>{{item.description}}</i></span>
                <br><br>
              {% endfor %}

            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col s12 offset-m1 m10">

          <div class="card">
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">Skills </span> 
              <br><br>

              {% for group in site.data.skills %}
                <span><b>{{group.name}}</b></span><br>
                {% for item in group.items %}
                  <span>{{item.name}}</span>
                  <span class="right">
                  {% for i in (1..item.stars) %}
                    <i class="material-icons tiny blue-text">stars</i>
                  {% endfor %}
                  </span><br>
                {% endfor %}
                <br>
              {% endfor %}


              <span><b><i>Legend</i></b></span>
              <br><i>
              <span>Have Used</span><span class="right">
                <i class="material-icons tiny blue-text">stars</i>
              </span><br>
              <span>Familiar</span><span class="right">
                <i class="material-icons tiny blue-text">stars</i>
                <i class="material-icons tiny blue-text">stars</i>
              </span><br>
              <span>Get Around</span><span class="right">
                <i class="material-icons tiny blue-text">stars</i>
                <i class="material-icons tiny blue-text">stars</i>
                <i class="material-icons tiny blue-text">stars</i>
              </span><br>
              <span>Get Stuff Done</span><span class="right">
                <i class="material-icons tiny blue-text">stars</i>
                <i class="material-icons tiny blue-text">stars</i>
                <i class="material-icons tiny blue-text">stars</i>
                <i class="material-icons tiny blue-text">stars</i>
              </span><br>
              <span>Expert</span><span class="right">no claims :]</span><br>
              </i><br>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>

