  {% include head.html %}

  {% include titlebar.html %}


<div class="row container">
    <div class="col s12">
		<div id="top"></div>

	    <br>
	    <a class="right" href="/sr/">toc</a>
	    <h2 class="text-blue">{{page.title}}</h2>
	

	    <div class="flow">
	
		    {% for section in page.sections %}
			<span>
			    <a style="padding-left: 16px; font-size: 1.2em;" href="#{{section.tag}}">{{section.name}}</a>
			</span>
			<br>
			{% endfor %}
			<br><br>

			{{ content }}


			<!-- COMMENT SECTION -->
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES * * */
			    var disqus_shortname = 'verdverm';
			    
			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

		</div>

    </div>
</div>



  {% include footer.html %}
